---
import MainLayout from '../../layouts/MainLayout.astro';
import Hero from '../../components/Hero.astro';
export async function getStaticPaths() {
    const data = await fetch('https://fetch-with-astro.netlify.app/api/artists', 
        {
        method: "GET",
        headers: {
            apikey:""
            },
        }
    ).then((response) => response.json());

    return data.map((artist) => {
        return {
            params: { slug: artist.slug },
            props: { myData:artist },
        };
    });
}
const { myData } = Astro.props
console.log("Artist Data:", myData);
---



<MainLayout title={myData.title}>
    <Hero imageSrc={myData.og_image.url} showContent={false} />
    <h2>{myData.title}</h2>
    <p>{myData.content}</p>
</MainLayout>

<style>
    h2, p {
        text-align: center;
        max-width: 1200px;
        margin: 20px auto;
    }
</style>