---
const {data} = Astro.props

---

<a href={`artists/${data.slug}`}>
    <article class="artist-card">
        <h2 class="artist-title">{data.title}</h2>
        <p class="artist-type">{data.type}</p>
        <p class="artist-content">{data.content}</p>
    </article>
</a>